html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}


.overlay{
  position: fixed;
  top: 0;
  z-index: 999;
  background-color:rgba(22, 22, 22, 0.651);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



#test{
  background-color: rgb(39, 17, 80);
}
.encore{
  background-color: rgb(17, 80, 66)!important;
}




button[type="submit"]{
  background-color: red;
  color: yellow;
}

.nav-bar {


  background-color: rgb(80, 107, 80);
  border-bottom: 1px solid rgb(155, 201, 178);

  .brand {
    min-width: 100px;
    display: flex;
    align-items: center;
    img {
      max-height: 90px;
      margin-left: 10px;
      border: 1px solid rgb(155, 201, 178);
      border-radius: 5px;
    }
    //background-color: red;
  }
  display: flex;
  .buttons {
    flex: 1;
    height: 100px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    .button {
      height: 90px;
      border-radius: 5px;
      width: 100px;
     // background-color: green;
      border: 1px solid rgb(155, 201, 178);

      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: rgb(2, 68, 2);
      }
    }
  } 
}










/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/css/icon.woff2) format('woff2');
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}