$calc-width: 200px;

//ayoub
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
}

.calculette {
  border-radius: 5px;
  padding: 5px;
  height: 300px;
  width: $calc-width;
  display: flex;
  flex-direction: column;
  .editorzone {
    background-color: green;
    width: 100%;
    input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 10px;
      font-size: large;
      background-color: rgba(184, 102, 143, 0.603);
    }
  }
  .btnszone {
    //flex: 1;
    background-color: red;
    display: flex;
    height: $calc-width;
    .ligne {
      display: flex;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(#{$calc-width} / 4);
      width: calc(#{$calc-width} / 4);
    }
    button:hover {
      background-color: rgba(180, 178, 178, 0.863);
    }
    flex-direction: column;
  }
}
